<h1>Listing exam_notifications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last date</th>
    <th>Exam date</th>
    <th>Age limit</th>
    <th>Company name</th>
    <th>Edu qualification</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exam_notifications.each do |exam_notification| %>
  <tr>
    <td><%= exam_notification.name %></td>
    <td><%= exam_notification.last_date %></td>
    <td><%= exam_notification.exam_date %></td>
    <td><%= exam_notification.age_limit %></td>
    <td><%= exam_notification.company_name %></td>
    <td><%= exam_notification.edu_qualification %></td>
    <td><%= exam_notification.user_id %></td>
    <td><%= link_to 'Show', exam_notification %></td>
    <td><%= link_to 'Edit', edit_exam_notification_path(exam_notification) %></td>
    <td><%= link_to 'Destroy', exam_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam notification', new_exam_notification_path %>
