<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exam_notification.name %>
</p>

<p>
  <b>Last date:</b>
  <%= @exam_notification.last_date %>
</p>

<p>
  <b>Exam date:</b>
  <%= @exam_notification.exam_date %>
</p>

<p>
  <b>Age limit:</b>
  <%= @exam_notification.age_limit %>
</p>

<p>
  <b>Company name:</b>
  <%= @exam_notification.company_name %>
</p>

<p>
  <b>Edu qualification:</b>
  <%= @exam_notification.edu_qualification %>
</p>

<p>
  <b>User:</b>
  <%= @exam_notification.user_id %>
</p>


<%= link_to 'Edit', edit_exam_notification_path(@exam_notification) %> |
<%= link_to 'Back', exam_notifications_path %>
